.menu-category-area {
    position : sticky;
    top : $header-height;
    margin-top : 10px;
    background-color: #fff;
    z-index: 5500;

    .common-inner{
        position : relative;
        border-bottom : 1px solid $booking-color-border144;


        &::before {
            content : "";
            position: absolute;
            top : 0;
            left : 0;
            width : $m-padding;
            height: 100%;
            pointer-events : none; //마우스로 클릭되는 것을 방지한다.
            z-index: 1;
            background-image: linear-gradient(to right, #fff,rgba(255,255,255,0));
        }

        &::after {
            content : "";
            position: absolute;
            top : 0;
            right : 0;
            width : $m-padding;
            height: 100%;
            pointer-events : none; //마우스로 클릭되는 것을 방지한다.
            z-index: 1;
            background-image: linear-gradient(to right,rgba(255,255,255,0), #fff);
        }
    }

    .category-list {
        display: flex;
        align-items: center;
        height: 54px; 
    }

    .category-item {
        //맨 끝과 맨 앞의 요소에만 패딩을 준다.
        &:first-child {
            padding-left: $m-padding;
        }
        &:last-child {
            padding-right: $m-padding;
        }
    }

    .category-tab {
        display: flex;
        align-items: center;
        padding : 0 12px;
        font-size : 16px;
        height: 30px;
        border-radius: 15px;
        color: $booking-color-text6;
        
        &.is-active {
            background-color : $booking-color-bg165;
            font-weight : 700;
            color : #fff;
        }


    }
}