// DESC : 주문 타입 (포장/매장)을 정하는 팝업 창

.dimmed-layer {
    position : fixed;

    //상하좌우 모두 꽉 차게 하겠다.
    top : 0;
    left : 0;
    right : 0;
    bottom: 0;

    background-color: rgba($color: #000, $alpha: 0.8);

    //어디서 팝업이 떠야할지 모르므로 크게 잡아준다.
    z-index: 9999;
}

.order-type-popup {
    position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    padding : 32px 0 40px;
    background-color: #fff; 
    text-align: center;
    border-radius: 16px 16px 0 0;

    //dimmed 보다는 위에 있어야 하므로 한단계 up
    z-index:  10000;

    .title {
        font-size: 20px;
        font-weight: 700;
        
        //미리 색상을 모아둔 _variables_color 파일에서 변수로 가져다 사용한다.
        color:  $booking-color-text1;
    }

    .type-list {
        display: flex;
        margin-top: 32px;
    }

    .type-item { 
        //일대일 비율로 나눠지게 한다.
        flex : 1;

        //type-item 요소 옆에 또 type-item이 오는 경우 후자 요소에만 적용될 스타일이다.
        & + .type-item {
            border-left: 1px solid $booking-color-border1 ;
        } 
    }

    .icon {
        width : 100px;
        height : auto;
        color : $booking-color-bg118;
    }

    .desc {
        margin-top : 8px;
        font-size : 15px;
        line-height: 1.5;
        font-weight: 600;
        color: $booking-color-text1;
    }

    .btn-selection {
        //margin-top을 설정했는데 안먹힌다면,
        //요소가 inline이어서 그런 것이므로 inline-blick으로 설정해주면 된다.
        //인라인의 특성을 가지면서 블럭 요소의 특성도 가진다.
        display: inline-block;
        margin-top : 10px;

        padding : 6px 18px;
        font-size : 16px;
        font-weight: 700;
        border-radius: 28px;
        background-color: $booking-color-bg189;
        color: #fff;
    }



    
}